.weatherCardDetail .weatherIcon {
  width: 3rem;
  height: 3rem;
  text-align: center;
  margin-right: 0.5rem;
}
.weatherCardDetail .listIcon {
  text-align: center;
  width: 2.5rem;
  margin-right: 0.5rem;
}

body {
  background-image: linear-gradient(#81d4fa, #2196f3);

}
.card2 {
  background-color: #607d8b;
}

.light-text {
  color: #b0bec5;
}

